

.header{
    display:flex;
    justify-content: space-between;
}
.logo{
    width:90px;
    margin:20px;
}
.nav-items > ul{
    display:flex;

}
.nav-items >ul > li{
    padding:20px;
    margin:10px;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;

}
.cart{
    font-size: 1.8rem;
    font-weight: 700;
    margin-top:-10px;
}
.res-card{
    width:350px;
    height:350px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    /* padding:10px 10px; */
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(238, 238, 238, 0.968);
    margin:20px 20px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
   
}
.search{
    padding:20px;
}
.res-logo{
    width:328px;
    height:248px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top:7px;
}
.res-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left:60px;
    margin-right:60px;
 
}

.first{
    display:flex;
    justify-content: space-between;
    margin:0 25px;
    gap:30px;
    
}
.green p{
    margin: 0 25px;
}
.second{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 20px;
}
.second p{
    margin: 0  20px;
}

.green{
    width:40px;
    height:20px;
    background-color: rgb(16, 77, 16);
    color:white;
    border-radius: 8px;
    padding: 3px 3px ;
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}

.filter-btn{
    cursor: pointer;
    padding:10px 14px;
    
}
.filter{
   margin-left:90px;
   margin-bottom:20px;
   display:flex;

   align-items: center;
}
.login{
    margin-left:90px;
    margin-bottom:20px  
}
.shimmer-container{
    display:flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width:200px;
    height:400px;
    margin:20px;
    background-color: #f0f0f0;

}
.Search{
margin-left:40px;
}





.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
  .shimmer-card {
    flex-basis: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
  }
  .shimmer-title {
    width: 60%;
    margin-top: 10px;
  }
  .shimmer-tags {
    width: 80%;
    margin-top: 4px;
  }
  .shimmer-details {
    width: 100%;
    margin-top: 18px;
  }
  .shimmer-container .shimmer-img {
    height: 144px;
    width: 230px;
  }
  /*Shimmer Card CSS End*/
  
  /* Shimmer Menu Card CSS Start */
  
  .restaurant-summary .shimmer-img {
    height: 144px;
    width: 230px;
  }
  
  .shimmer-menu-card {
    display: flex;
    justify-content: space-evenly;
    width: 848px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
  }
  .shimmer-item-details {
    width: 438px;
  }
  
  .shimmer-img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 118px;
    height: 150px;
  }
  .shimmer-img-wrapper .shimmer-img {
    width: 118px;
    height: 96px;
  }
  
  .shimmer-img-wrapper .shimmer-btn {
    width: 94px;
    height: 34px;
    margin-top: 10px;
  }
  
  .shimmer-w60 {
    width: 60%;
    margin-top: 10px;
  }
  
  .shimmer-w40 {
    width: 40%;
    margin-top: 10px;
  }
  
  .shimmer-w20 {
    width: 20%;
    margin-top: 4px;
  }
  /* Shimmer Menu Card CSS End */
  
  /*Animation to Shimmer Component Card and Menu card Start*/
  .stroke {
    height: 15px;
    background: #777;
  }
  .stroke-color {
    background: #777;
  }

 .userCard{
  padding:10px 10px;
  width:200px;
  height:auto;
  border:1px solid black;
}












