/* Header.css */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff; /* You can customize the background color */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container {
  flex-shrink: 0; /* Prevents the logo from shrinking */
}

.logo {
  width: 100px;
  height: auto;
}

.nav-items ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-items li {
  margin-right: 15px;
  list-style: none;
  color:black;

}


.cart {
  margin-left: 15px;
}

.login {
  margin-left: 15px;
  background-color: green;
  color:white;
  border: none;
  border-radius: 10px;
  padding:10px 18px;
}

.nav-items li {
  margin-right: 40px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff5e008e; 
}

/* Style for the active NavLink */
.nav-link.active {
  color: #ff400079;
}

.cart {
  margin-left: 15px;
}
/* .res-card{
  margin-left:50px;
  margin-right:-50px;
  padding:10px 10px;
  width:200px;
  height:400px;
  background-color: rgb(255, 255, 255);
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color:black;
  margin-top:60px;
  border-radius: 60%;

} */

/*  */

  
.res-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  width:250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: 400px; 

}

.res-card:hover {
  transform: scale(1.05);
}

.res-logo {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-position: center;

}

.first {
  padding: 16px;
}

.first h3 {
  margin-bottom: 8px;
}

.green {
  color: #4caf50;
  display: flex;
  align-items: center;
}

.green div {
  margin-right: 4px;
}

.second {
  background-color: #f9f9f9;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second h3 {
  color: #ff5722;
  margin: 0;
  margin-top: 8px; /* Adjust the margin as needed */
}

.second p {
  margin: 0;
}



/* Style for the profile class container */
.profile-class-container {
  margin-top:60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/* Style for the profile container */
.profile-container {
  width: 60%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top:60px;
}



/* Style for the profile user card */
.profile-user-card {
  text-align: center;
}

/* Style for the profile user image */
.profile-user-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Style for the profile user bio */
.profile-user-bio {
  margin: 10px 0;
  color: #333;
}



/* Style for the repository name */
.profile-repo-container h1 a {
  color: #333;
  text-decoration: none;
}


.repo-des {
  margin-top: 10px;
  color: #555;
}
.icon-button i {
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  height: 2.6rem;
  width: 2.6rem;
  line-height: 3rem;
  overflow-y: hidden;
  margin:10px 10px;
}

.icon-button i:hover {
  transform: scale(1.02);
}

.linkedin i {
  background-color: #0a66c2;
}

.twitter i {
  background-color: #00acee;
}

.github i {
  background-color: #333;
}

.email i {
  background-color: #ea4335;
}